@model IEnumerable<Forslag>

@{ ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Forslag</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Forslag" asp-action="Opprett" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Opprett Forslag
            </a>
        </div>
    </div>
    <br />

    <div class="text-center">
        <h1 class="display-4">Forslag</h1>

        <table class="table table-bordered table-striped" style="width:100%">

            <thead>
                <tr style="background-color:#2B476C">
                    <th>
                        Nr
                    </th>
                    <th>
                        Ansattnummer
                    </th>
                    <th>
                        Teamnummer
                    </th>
                    <th>
                        Kategorinummer
                    </th>
                    <th>
                        Startdato
                    </th>
                    <th>
                        Frist
                    </th>
                    <th>
                        Tittel
                    </th>
                    <th>
                        Beskrivelse
                    </th>
                    <th>
                        Ansvarlig Teamleder
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width:"50%">
                            @obj.Forslag_ID
                        </td>

                        <td width:"30%">
                            @obj.Bruker_ID
                        </td>
                        <td width:"30%">
                            @obj.Team_ID
                        </td>
                        <td width:"30%">
                            @obj.Kategori_ID
                        </td>
                        <td width:"30%">
                            @obj.Start_Tid
                        </td>
                        <td width:"30%">
                            @obj.Frist
                        </td>
                        <td width:"30%">
                            @obj.Tittel
                        </td>
                        <td width:"30%">
                            @obj.Beskrivelse
                        </td>
                        <td width:"30%">
                            @obj.Ansvarlig
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

