@model IEnumerable<Forslag>

@{ ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="display-4">Forslag</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Forslag" asp-action="Opprett" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Opprett Forslag
            </a>
        </div>
    </div>
    <br />

        <table class="table table-bordered table-striped" style="width:100%">

            <thead>
                <tr style="background-color:#2B476C">
                    <th>
                        @Html.ActionLink("Forslag_ID", "Index", new { sortOrder = ViewBag.ForslagIDSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Bruker_ID", "Index", new { sortOrder = ViewBag.BrukerIDSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Team_ID","Index", new {sortOrder = ViewBag.TeamIDSortParm})
                    </th>
                    <th>
                        @Html.ActionLink("Kategori_ID", "Index", new { sortOrder = ViewBag.KategoriIDSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Start_Tid", "Index", new { sortOrder = ViewBag.StartSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Frist", "Index", new { sortOrder = ViewBag.FristSortParm})
                    </th>
                    <th>
                        @Html.ActionLink("Tittel", "Index", new { sortOrder = ViewBag.TittelSortParm })
                    </th>
                    <th>
                        Beskrivelse
                    </th>
                    <th>
                        @Html.ActionLink("Ansvarlig", "Index", new { sortOrder = ViewBag.AnsvarligSortParm })
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width:"50%">
                            @obj.Forslag_ID
                        </td>

                        <td width:"30%">
                            @obj.Bruker_ID
                        </td>
                        <td width:"30%">
                            @obj.Team_ID
                        </td>
                        <td width:"30%">
                            @obj.Kategori_ID
                        </td>
                        <td width:"30%">
                            @obj.Start_Tid
                        </td>
                        <td width:"30%">
                            @obj.Frist
                        </td>
                        <td width:"30%">
                            @obj.Tittel
                        </td>
                        <td width:"30%">
                            @obj.Beskrivelse
                        </td>
                        <td width:"30%">
                            @obj.Ansvarlig
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

