@model IEnumerable<Bruker>
@{     ViewData["Title"] = "Index";

}

<h1>Brukere</h1>

<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Ansattnummer
            </th>
            <th>
                Epost
            </th>
            <th>
                Telefon
            </th>
            <th>
                Postnummer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
            {
                <tr>
                    <td width:"50%">
                        @obj.Navn
                    </td>

                    <td width:"30%">
                        @obj.Ansatt_ID
                    </td>
                    <td width:"30%">
                        @obj.Epost
                    </td>
                    <td width:"30%">
                        @obj.Telefon
                    </td>
                    <td width:"30%">
                        @obj.Postnummer
                    </td>

                </tr>
            }
    </tbody>

</table>
