@model IEnumerable<Bruker>
@{     ViewData["Title"] = "Index";

}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Brukere</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Bruker" asp-action="Opprett" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Opprett Bruker
            </a>
        </div>
    </div>
    <br /> 

    <table class="table table-bordered table-striped" style="width:100%">

        <thead>
            <tr style="background-color:#2B476C">
                <th <i class=" bi bi-filter-square">
                    </i>
                    @Html.ActionLink("Navn", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Bruker_ID", "Index", new { sortOrder = ViewBag.EmployeeSortParm })
                </th>
                <th>
                    @Html.ActionLink("Epost", "Index", new { sortOrder = ViewBag.EmailSortParm })
                </th>
                <th>
                    @Html.ActionLink("Telefon", "Index", new { sortOrder = ViewBag.PhoneSortParm })
                </th>
                <th>
                    @Html.ActionLink("Postnummer", "Index", new { sortOrder = ViewBag.PostSortParm })
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width:"50%">
                        @obj.Navn
                    </td>
                    <td width:"30%">
                        @obj.Bruker_ID
                    </td>
                    <td width:"30%">
                        @obj.Epost
                    </td>
                    <td width:"30%">
                        @obj.Telefon
                    </td>
                    <td width:"30%">
                        @obj.Postnummer
                    </td>
                    <td>

                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Bruker" asp-action="Rediger" asp-route-Ansatt_ID="@obj.Bruker_ID"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Rediger</a>
                        <a asp-controller="Bruker" asp-action="Slett" asp-route-Ansatt_ID="@obj.Bruker_ID"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash3-fill"></i> Slett</a>

                    </div>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>